/*GLOBAL STYLES*/
html, body {
  height: 100%;
  background-color: #2D3354;
  color: #fff;
}

.container-fluid {
  padding: 0;
}

.margin {
  margin-top: 20px;
}

h1 {
  text-align: center;
  color: #D7DF23;
}

h2 {
  text-align: center;
  margin: 20px 0 20px 0;
}

/*HERO IMG + LOGO*/
#header-section {
  background-image: url('../assets/clocktower.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: -100;
}

/* INTRO TXT */
.app-info img {
  height: 400px;
  width: auto;
  display: block;
  margin: auto;
}

/*DEMO VIDEO*/
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*DOWNLOAD*/
.qrcode img {
  display: block;
  margin: auto;
}

.appstore {
  height: 50px;
  width: auto;
  display: block;
  margin: auto;
}

.googleplay {
  height: 50px;
  width: auto;
  display: block;
  margin: auto;
}

.icon-title {
  text-align: center;
}

/*YOUTUBE PLAYLIST*/
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
	}
	.video-responsive iframe{
	    left:0;
	    top:0;
	    height:100%;
	    width:100%;
	    position:absolute;
	}

  /*FOOTER*/
  #footer {
    height: 50px;
    background-color: #7E7E96;
    margin: 50px 0 0 0;
  }
