/*GLOBAL STYLES*/
html, body {
  height: 100%;
  background-color: #2D3354;
  color: #fff;
}

.container-fluid {
  padding: 0;
}

.margin {
  margin-top: 0px;
}

h1 {
  text-align: center;
  color: #D7DF23;
  padding-top: 40px; /* creating separation between sections */
  padding-bottom: 40px;
}

h2 {
  text-align: center;
  margin: 20px 0 20px 0;
}

p {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

li {
  font-size: 20px;
}

/*HERO IMG + LOGO*/
#header-section {
  background: url('../assets/banner.png');
  background-position: center;
  background-size: cover;
  height: 400px; 
  width: 100%;
}

/* INTRO TXT */
.app-info img {
  height: 550px;
  width: 100%;
  display: block;
  margin: auto;
}

.about-txt {
  margin-top: 20px;
}

/*DEMO VIDEO*/
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.instructions {
  padding-top: 20px;
}

/*DOWNLOAD*/
.qrcode img {
  display: block;
  margin: auto;
}

.appstore {
  height: 50px;
  width: auto;
  display: block;
  margin: auto;
}

.googleplay {
  height: 50px;
  width: auto;
  display: block;
  margin: auto;
}

.icon-title {
  text-align: center;
}

/*YOUTUBE PLAYLIST*/
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
	}
	.video-responsive iframe{
	    left:0;
	    top:0;
	    height:100%;
	    width:100%;
	    position:absolute;
  }
  
  .youtube-note {
    text-align: center;
  }

  /* FOOTER */
  .footer {
    position: relative;
    margin-top: 130px; /* negative value of footer height - pushes footer to bottom of page*/
    height: -100px;
    clear: both;
    padding-top: 30px;
    background-color: #7E7E96;
    color: #fff;
  }

  .footer-text {
    text-align: center;
    padding: 0px 0px;
  }

  .footer-text a {
    color: #fff;
  }

  .footer-text a:hover {
    color: #D7DF23;
    text-decoration: none;
  }

/* MEDIA QUERIES */
@media (max-width: 700px) {
  #header-section {
    height: 200px;
  }

  .app-info img {
    height: 200px;
    width: 100%;
    display: block;
    margin: auto;
  }
}
